* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: #438802;
  --light-green: #a6e26e;
  --dark-gray: #26404b;
}

.hr {
  background-color: lightgray;
  margin: 5px 0 15px 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding: 15px;
    margin: 0 auto;
    max-width: 90vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    padding: 15px;
    margin: 0 auto;
    max-width: 85vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 80vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}
